--ATTENTION ICI ORACLE n'accepte que les chemins ABSOLU et non RELATIF
--Veuillez indiquer le chemin absolu jusqu'au dossier "tablespace"
--Ce fichier template est destiné à créer les tablespaces dans votre environnement
--Pour créer les tablespaces, connectez-vous sous l'utilisateur c##admin_cluster (et non SYS)
-- DEMANDEZ à HADJ si VOUS avez des questions 

-- ETAPE IMPORTANTE : METTRE le CONTAINER PDB à XEPDB1
SHOW CON_NAME;
ALTER SESSION SET CONTAINER = XEPDB1;

-- Création du tablespace pour les données
DROP TABLESPACE ts_donnees INCLUDING CONTENTS AND DATAFILES;
CREATE TABLESPACE ts_donnees
DATAFILE 'your_path/glpi-database/tablespace/ts_donnees.dbf'
SIZE 100K REUSE
AUTOEXTEND ON NEXT 100K MAXSIZE 200M;

-- Création du tablespace pour les index
DROP TABLESPACE ts_index INCLUDING CONTENTS AND DATAFILES;
CREATE TABLESPACE ts_index
DATAFILE 'your_path/glpi-database/tablespace/ts_index.dbf'
SIZE 100K REUSE
AUTOEXTEND ON NEXT 100K MAXSIZE 200M;

-- Création du tablespace pour les logs
DROP TABLESPACE ts_logs INCLUDING CONTENTS AND DATAFILES;
CREATE TABLESPACE ts_logs
DATAFILE 'your_path\glpi-database\tablespace\ts_logs.dbf'
SIZE 100K REUSE
AUTOEXTEND ON NEXT 100K MAXSIZE 300M;

-- Création du tablespace pour le site de Cergy
DROP TABLESPACE ts_site_cergy INCLUDING CONTENTS AND DATAFILES;
CREATE TABLESPACE ts_site_cergy
DATAFILE 'your_path\glpi-database\tablespace\ts_site_cergy.dbf'
SIZE 100K REUSE
AUTOEXTEND ON NEXT 100K MAXSIZE 200M;

-- Création du tablespace pour le site de Pau
DROP TABLESPACE ts_site_pau INCLUDING CONTENTS AND DATAFILES;
CREATE TABLESPACE ts_site_pau
DATAFILE 'your_path\glpi-database\tablespace\ts_site_pau.dbf'
SIZE 100K REUSE
AUTOEXTEND ON NEXT 100K MAXSIZE 200M;

-- Creation des cluster

--Cluster entre table utilisateurs et utilisation_materiel
DROP CLUSTER cluster_utilisation_materiel;
CREATE CLUSTER cluster_utilisation_materiel (
    ID_UTILISATEUR NUMBER
) SIZE 1024 TABLESPACE ts_donnees;

--Cluster entre table intervention et materiel
CREATE CLUSTER cluster_intervention_materiel (
    ID_MATERIEL NUMBER
) SIZE 1024 TABLESPACE ts_donnees;

-- CREATION des TABLES
CREATE TABLE SITE (
    ID_SITE NUMBER PRIMARY KEY,
    NOM VARCHAR2(50) UNIQUE
) TABLESPACE ts_donnees;

CREATE TABLE UTILISATEUR (
    ID_UTILISATEUR NUMBER PRIMARY KEY,
    NOM VARCHAR2(50),
    PRENOM VARCHAR2(50),
    EMAIL VARCHAR2(100) UNIQUE,
    ROLE VARCHAR2(20) CHECK (ROLE IN ('Admin', 'Professeur', 'Personnel_Administratif', 'Etudiant')),
    ID_SITE NUMBER REFERENCES SITE(ID_SITE)
)CLUSTER cluster_utilisation_materiel (ID_UTILISATEUR);


CREATE TABLE MATERIEL (
    ID_MATERIEL NUMBER PRIMARY KEY,
    TYPE_MATERIEL VARCHAR2(50),
    MODELE VARCHAR2(50),
    ETAT VARCHAR2(20) CHECK (ETAT IN ('Disponible', 'En panne')),
    ADRESSE_IP VARCHAR2(15) UNIQUE, 
    QUANTITE NUMBER CHECK (QUANTITE >= 0),
    ID_SITE NUMBER REFERENCES SITE(ID_SITE)
) CLUSTER cluster_intervention_materiel (ID_MATERIEL);

CREATE TABLE UTILISATION_MATERIEL (
    ID_UTILISATEUR NUMBER,
    ID_MATERIEL NUMBER REFERENCES MATERIEL(ID_MATERIEL),
    DATE_UTILISATION DATE DEFAULT SYSDATE,
    PRIMARY KEY (ID_UTILISATEUR, ID_MATERIEL, DATE_UTILISATION)
) CLUSTER cluster_utilisation_materiel (ID_UTILISATEUR);

CREATE TABLE INTERVENTION (
    ID_INTERVENTION NUMBER PRIMARY KEY,
    ID_MATERIEL NUMBER,
    ID_TECHNICIEN NUMBER REFERENCES TECHNICIEN(ID_TECHNICIEN),
    DATE_DEMANDE DATE DEFAULT SYSDATE,
    DATE_DEBUT DATE,  
    DATE_FIN DATE,  
    STATUT VARCHAR2(20) CHECK (STATUT IN ('En attente', 'En cours', 'Résolu')),
    DESCRIPTION VARCHAR2(255)
) CLUSTER cluster_intervention_materiel (ID_MATERIEL);

CREATE TABLE TECHNICIEN (
    ID_TECHNICIEN NUMBER PRIMARY KEY,
    NOM VARCHAR2(50),
    PRENOM VARCHAR2(50),
    ENTREPRISE VARCHAR2(100),
    COMPETENCES VARCHAR2(255), 
    HEURE_DEBUT_SERVICE VARCHAR2(10),
    HEURE_FIN_SERVICE VARCHAR2(10)
)TABLESPACE ts_donnees;
-- index

DROP INDEX idx_cluster_utilisation_materiel;

CREATE INDEX idx_cluster_utilisation_materiel 
ON CLUSTER cluster_utilisation_materiel TABLESPACE ts_index;

DROP INDEX idx_cluster_intervention_materiel;

CREATE INDEX idx_cluster_intervention_materiel 
ON CLUSTER cluster_intervention_materiel TABLESPACE ts_index;
